@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body{
    margin: 0 auto;
    /* clear: both; */
    width: 100%;
    height: 100%;
    /* background-color: darkmagenta; */
    /* background-color: #f5f5f5; */
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* top: 0; */
    /* padding: 0 16px; */
    /* width: 1658.67px; */
    width: 100%;
    height: 68px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    vertical-align: baseline;
    margin: 0 auto;

}

#header-wrapper{
    /* justify-content: flex-start; */
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    /* width: 1140px; */
    width: 67.6%;
    height: 48px;
}

#content{
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

#left{
    display: flex;
    margin: 12px auto;
    padding: 0;
    border: 0;
    /* width: 561.302px; */
    width: 50%;
    height: 24px;
    position: absolute;
    
}

.menu{
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    height: 24px;
    margin: 0 auto;
}

#logo{
    cursor: pointer;
    display: block;
    width: 99.198px;
    font-size: 24px;
    height: 24px;
    margin-right: 40px;
    position: relative;
    top: -6.5px;
}

.one{
    display: block;
    width: 55.425px;
    margin-right: 40px;
}

.two{
    display: block;
    width: 55.425px;
    margin-right: 40px;
}

.three{
    display: block;
    width: 55.425px;
    margin-right: 40px;
}

.four{
    display: block;
    width: 55.425px;
    margin-right: 40px;
}

div#right{
    position: absolute;
    display: flex;
    /* width: 230px; */
    width: 30.8%;
    height: 48px;
    right: -235px;
    text-align: center;
    color: #1c1c1c;
}

#rightmenu{
    cursor: pointer;
    display: flex;
    width: 180px;
    height: 24px;
    font-size: 14px;
    margin-top: 13px;
}

#login{
    width: 43px;
    margin-right: 20px;
}

/* #hart-wrapper{
    cursor: pointer;
    margin: 0;
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    top: -5px;
} */

#hart{
    width: 36px;
    height: 36px;
    

}

#member{
    width: 55px;
    margin-right: 40px;
}

main{
    display: block;
    /* background-color: deeppink; */
    width: 100%;
    height: 100%;
}

/* --------------banner start------------- */

section.container {
    width: 80vw;
    /* width: 90vw; */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-top: 5%;
}

div.banner {
    width: 640vw;
    /* width: 720vw; */
    /* transform: translate(-90vw); */
}

div.banner div {
    width: 80vw;
    /* width: 90vw; */
    float: left;
}

div img {
    width: 100%;
}

div.arrow {
    position: absolute;
    font-size: 2rem;
    width: 80px;
    height: 80px;
    /* background-color: #0000002e; */
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    top: 45%;
    line-height: 20px;
    
}

div.next {
    right: 0%;
}

div.prev {
    z-index: 1;
    left: 0%;
}

div.btns {
    width: 80vw;
    /* width: 90vw; */
    text-align: center;
    position: absolute;
    bottom: 10px;
}

div.btns .btn {
    border-radius: 30%;
    /* border: 0.5px solid #f0f0f0; */
    border: 0.5px solid white;
    width: 10px;
    height: 6px;
}

/* --------------banner end------------- */


#content-category{
    position: relative;
    display: block;
    /* background-color: aquamarine; */
    /* width: 1658.67px; */
    width: 100%;
    height: 132px;
    padding-top: 70px;
    padding-bottom: 70px;
    /* padding-left: 16px; */
    /* padding-right: 16px; */
    /* top: 452px; */
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    color: #838383;
}

#category{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 706px;
    height: 132px;
    vertical-align: baseline;
    /* margin-left: 476.335px;
    margin-right: 476.335px; */
    margin-left: 28.15%;
    margin-right: 28.15%;
    font-size: 18px;
}

.area{
    display: flex;
    width: 128px;
    height: 28px;
    padding: 14px 16px;
    margin: 4px 6px;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #f0f0f0;
    border-radius: 2px;
    cursor: pointer;
    vertical-align: baseline;
}

/* item start */
#content-product{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    /* height: 686px; */
    height: 2500px;
}

#content-product-box{
    max-width: 1140px;
    width: 1092px;
    height: 686px;
    padding: 0 24px;
    margin: 0;
    border: 0;
    display: block;
}

.top1{
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    white-space: pre;
    color: #1c1c1c;
    width: 1092px;
    width: 100px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -3%;
    line-height: 50px;
}

.top2{
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    white-space: pre;
    color: #838383;
    width: 1092px;
    width: 30px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -3%;
    line-height: 30px;
    margin-top: 20px;
}

.product-wrapper{
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    border: 0;
    height: 310px;
    margin-top: 50px;
}

.items{
    flex: 0 0 auto;
    margin-left: 0;
    margin: 0 16px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    padding: 0;
    border: 0;
    height: 310px;
    background-color: #f0f0f0;
}

.item1{
    margin-left: 0;
}

.item2{

}

.item3{

}

.item4{

}

.item5{
    margin-left: 0;
}

.product-image{
    width: 250px;
    height: 250px;
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 8px;
    cursor: pointer;
    /* background-color: aqua; */
}

.product-name{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #838383;
    white-space: nowrap;
    max-width: 100%;
    /* margin: 0; */
    padding: 0;
    border: 0;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    width: 197.604px;
    height: 28px;
    /* background-color: chartreuse; */
    margin-top: 5px;
}

product-info{
    color: #1c1c1c;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    display: flex;
    cursor: pointer;
    width: 82.906px;
    height: 30px;
    /* background-color: aquamarine; */

}

.change-item{
    margin-top: 100px;
}


/* item end*/
/* --------------------footer-------------------- */

footer{
    position: relative;
    /* width: 1690.67px; */
    width: 100%;
    height: 319px;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    padding-bottom: 48px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    bottom: 0;
    overflow: visible;
    clear: both;
    padding-bottom: 48px;
    /* padding-left: 275px;
    padding-right: 275px; */
}

div.footer-top{
    /* width: 1100px; */
    width: 96.492%;
    height: 24px;
    border-bottom: 1px solid #838383;
    display: block;
    padding: 28px 20px;
}

div.footer-link-list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: #f0f0f0;
    font-size: 14px;
    /* width: 1100px; */
    width: 100%;
    height: 24px;
    vertical-align: baseline;
}

.footer-links{
    padding: 0;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: block;
}

.link1{
    width: 51.52px;
    height: 24px;
}

.link2{
    width: 80px;
    height: 24px;
    margin-left: 50px;
}

.link3{
    width: 180px;
    height: 24px;
    margin-left: 50px;
}

.footer-middle{
    /* width: 1108px; */
    width: 100%;
    height: 144px;
    padding: 0 16px;
    /* justify-content: space-between; */
    margin: 0;
    border: 0;
    vertical-align: baseline;
    margin-top: 30px;
    display: flex;
}

.footer-middle-left{
    /* width: 425.198px; */
    width: 37%;
    height: 144px;
    display: block;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
}

#middle-top{
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #cbcbcb;
    margin: 0;
    padding: 0;
    border: 0;
    /* width: 425.198px; */
    width: 100%;
    height: 22px;
}

#middle-bottom{
    padding: 0;
    border: 0;
    margin-top: 12px;
    /* vertical-align: baseline; */
    display: block;
    color: #cbcbcb;
    font-weight: 400;
    line-height: 22px;
    /* width: 425.198px; */
    width: 100%;
    height: 110px;
    font-size: 12px;
}

#footer-middle-right{
    width: 253.396px;
    height: 144px;
    font-style: normal;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    display: block;
    position: relative;
    right: 0;
    margin-left: 445px;
}

#kakao-wrapper{
    cursor: pointer;
    /* width: 253.396px; */
    width: 100%;
    height: 98px;
    text-align: left;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 16px;
}

#kakao{
    background-image: url(./img/kakaoChat.svg);
    width: 60px;
    height: 60px;
}

#kakao-text{
    /* width: 253.4px; */
    width: 100%;
    height: 26px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #fff;
    padding: 0;
    border: 0;
    display: block;
    cursor: pointer;
    text-align: left;
}

#content-bottom{
    width: 253.396px;
    height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#content-number{
    width: 127.438px;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

#content-time{
    width: 97.96px;
    height: 22px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 0;
    color: #cbcbcb;
    padding: 0;
    border: 0;
    display: block;
}

.footer-bottom{
    /* width: 1108px; */
    width: 95.89%;
    height: 24px;
    padding: 0 16px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: baseline;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    text-align: left;
}

.menuOne{
    width: 103.042px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    left: 0;
}

.menuTwo{
    width: 98.427px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
}

.menuThree{
    width: 137.073px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
}

.menuThree{
    width: 137.073px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
}

.menuFour{
    width: 98.427px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
}

.menuFive{
    width: 162.833px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
}

.check{
    margin-right: 20px;
    margin-left: 20px;
    content: "|";
    color: #838383;
    height: 24px;
    display: flex;
}

.menuSix{
    /* width: 334.229px; */
    width: 30.5%;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    /* margin-left: 170px; */
    margin-left: 15.5%;
    position: relative;
    right: -50px;
}

span.bold{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}