body {
    font-family: 'Spoqa Han Sans Neo';
    margin: 0 auto;
}

* {
    margin: 0;
}

main {
    margin-top: 102px;
    padding-bottom: 70px;
}

section{
    display: flex;
    justify-content: center;
}

.row{
    border-radius: 1%;
    box-shadow: 0 0 24px #00000014;
    width: 1140px;
    padding: 0 50px;
}

.board_top h1{
    padding: 68px 0;
    width: 100%;
    font-size: 42px;
    font-weight: 400;
    color: #1c1c1c;
}

.write_input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1140px;
}

.input_div{
    margin-top: 34px;
}

.input_label{
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    color: #838383;
    display: block;
    padding-bottom: 8px;
}

.input_box{
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20% 8px 10px;
    border: none;
    border-bottom: 1px solid #cbcbcb;
}

.input_left{
    min-width: 45%;
    padding-right: 50px;
}

.input_right{
    min-width: 45%;
    max-width: 45%;
    
}

.input_bottom{
    min-width: 100%;
}






.photo_upload div{
    width: 150px;
    height: 150px;
    background-image: url("/guide/img/attach.png");
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

